doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ZoomBak
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 ZoomBak
        main
            div#welcome
                h3 Welcome to ZoomBak
                form
                    input(placeholder="Room Name", required, type="Text")
                    button Enter Room
            div#room
                h3
                ul
                form#name
                    input(placeholder="message", required, type="Text")
                    button save
                form#msg
                    input(placeholder="message", required, type="Text")
                    button send
        script(src ="/socket.io/socket.io.js")
        script(src ="/public/js/app.js")